*{
    margin: 0;
    padding: 0;
}
header{
    border: 2px solid white;
    height: 99px;
    background-color: black;
    color: white;
}
.content{
    background-color: red;
    height: 90vh;
    padding: 33px;
}
footer{
    background-color: rebeccapurple;
}
.center{
    text-align: center;
}