* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
:root{
    --main-color: #fa1c1c;
    --hover-color: hsl(37, 94%, 57);
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
    --text-color: #fcfeff;
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
::selection{
    background: var(--main-color);
    color: var(--text-color);
}

/* 7th code goes here, styling some common attributes */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}
body{
    background: var(--body-color);
    color: var(--text-color);
}

/* 12th code goes here, styling the container in (nav container) */
.container{
    max-width: 1060px;
    margin: auto;
    width: 100%;
}
.test{
    max-width: 1515px;
}

/* 13th code goes here, styling the header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-color);
    z-index: 100;
}

/* 14th code goes here, styling the nav from (nav container) */
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

/* 15th code goes here, styling the logo */
.logo{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}

/* 16th code goes here, styling the search-box */
.search-box{
    max-width: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem; 
}

/* 17th code goes here, styling the input area of search box */
.bx{
    cursor: pointer;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color: var(--main-color);
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background: transparent;
    font-size: 0.938rem;
}

/* 18th code goes here, styling the user-img */
.user{
    display: flex;
}
.user-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

/* 13th code goes here, styling the navbar */
.navbar {
    position: fixed;
    top: 43%;
    transform: translateY(-50%);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}

/* 14th code goes here, styling the nav-links */
.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;
}
.nav-links:hover, 
.nav-active{ /*<-- 16th adding the .nav-active class*/
    color: var(--text-color);
    transition: 0.3s all linear;
    transform: scale(1.1);
}
/* 17th code goes here */
.nav-links .bx{
    font-size: 1.9rem;
    color: white;
}
.nav-link-title{
    font-style: 0.7rem;
    color: white;
}


/* --Creating the class for change of background for all indivisual links-- */
.nav-links2 .bx{
    transition: all 0.5s ease-in;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
}
.nav-links2 .nav-link-title{
    transition: all 0.5s ease-in;
    color: rgb(255, 255, 255);
}

.nav-links3 .bx{
    transition: all 0.5s ease-in;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
}
.nav-links3 .nav-link-title{
    transition: all 0.5s ease-in;
    color: rgb(255, 255, 255);
}

.nav-links4 .bx{
    transition: all 0.5s ease-in;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
}
.nav-links4 .nav-link-title{
    transition: all 0.5s ease-in;
    color: rgb(255, 255, 255);
}

.nav-links5 .bx{
    transition: all 0.5s ease-in;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
}
.nav-links5 .nav-link-title{
    transition: all 0.5s ease-in;
    color: rgb(255, 255, 255);
}

.nav-links6 .bx{
    transition: all 0.5s ease-in;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
}
.nav-links6 .nav-link-title{
    transition: all 0.5s ease-in;
    color: rgb(255, 255, 255);
}
/* --end-- */

.t-container{
    width: 27em;
    margin: 3em auto;
    color: white;
    font-family: sans-serif;
}

.card{
    background: linear-gradient(to bottom, #fa1c1c 0%, 
    #fa1c1c 26%, 
    #474756 26%, 
    #474756 100%);
    height: 11em;
    float: left;
    position: relative;
    padding: 1em;
    margin-top: 100px;
}

.card-left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 16em;
}

.card-right{
    width: 6.5em;
    border-left: 0.18em dashed black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-right::before,
.card-right::after {
    content: "";
    position: absolute;
    display: block;
    width: 0.9em;
    height: 0.9em;
    background: #1e1e2a;
    border-radius: 50%;
    left: -0.5em;
}

.card-right::before{
    top:-0.4em
}

.card-right::after{
    bottom: -0.4rem;
}

h1{
    font-size: 1.1em;
    margin-top: 0;
}

h1 span{
    font-weight: normal;
}

.tittle, .name, .roll, .time{
    text-transform: uppercase;
    font-weight: normal;
}

.tittle h2, .name h2, .roll h2, .time h2{
    font-size: 0.9em;
    color: white;
    margin: 0;
}

.tittle span, .name span, .time span, .roll span{
    font-size: 0.7em;
    color: black;
}

.tittle{
    margin: 2em 0 0 0;
}

.name, .roll {
    margin: 0.7em 0 0 0;
}

.time{
    margin: 0.7em 0 0 1em;
}

.roll, .time{
    float: left;
}

.number{
    text-align: center;
    text-transform: uppercase;
}
.number h3{
    color:#fa1c1c;
    margin: 1.7em 0 0 0;
    font-size: 2.5em;
}
.number span{
    display: block;
    color: white;
}